<p>User List</p>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-index">
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <a (click)="makeadmin(element.id)" mat-flat-button color="primary"> make admin </a>
                <a (click)="removeadmin(element.id)" mat-flat-button color="warn"> remove admin </a>                
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- <app-authorise-view [role]="'admin'">
    <ng-container authorised>
        <button mat-flat-button color="primary" routerLink="/creategenres">Create</button>
    </ng-container>
    <ng-container notAuthorised>
        You are not authorised to create
    </ng-container>
</app-authorise-view> -->

